<div class="row">
  <app-book-search></app-book-search>
  <hr class="my-5">
  <div class="text-uppercase fs-2 lead text-center my-5">Our Books</div>
  <div class="col-sm card shadow mb-3 mx-2 d-flex" *ngFor="let book of books" (click)="bookDetails(book._id)">
    <div class="card-body">
      <h5 class="card-title">{{ book.title }}</h5>
      <hr>

      <p class="card-text">by {{ book.author }}</p>

      <!-- Кнопка удаления книги -->
      <button class="btn btn-danger mr-2 me-4 my-2" (click)="deleteBook(book._id)">Delete</button>

    </div>
  </div>
</div>

