<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a [routerLink]="['/']" class="nav-link px-2 fs-4 text-white">IAB</a></li>
        <li><a [routerLink]="['/add']" class="nav-link pt-3 fs-6 text-white">Add New Book</a></li>
        <li><a [routerLink]="['/file']" class="nav-link pt-3 fs-6 text-white">Data Analysis</a></li>
      </ul>

      <div class="text-end">
        <ng-container *ngIf="authService.loggedInUser; else loginButtons">
          <span class="text-white me-2">{{ authService.loggedInUser }}</span>
          <a (click)="logout()" class="btn btn-outline-light">Logout</a>
        </ng-container>
        <ng-template #loginButtons>
          <a [routerLink]="['/auth']" class="btn btn-outline-light me-2">Login</a>
          <a [routerLink]="['/reg']" class="btn btn-outline-warning">Sign-up</a>
        </ng-template>
      </div>
    </div>
  </div>
</header>
